@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(126deg, rgb(126, 89, 230) 0%, rgb(22, 11, 83) 100%);
	color: #fff;
}
/* <a href="https://storyset.com/people">People illustrations by Storyset</a> */
